# --- Build Artifacts (CMake & C++) ---
build/
bin/
lib/
*.so
*.o
*.a
compile_commands.json

# --- Python ---
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Misc ---
figures/
processed/
*.onnx
*.onnx.data

# --- Doxygen ---
docs/html/
